<body>
    <!-- update the header -->
    <h1>Edit <%= instrument.name %></h1>

    <form action="/instruments/<%=instrument._id%>?_method=PUT" method="POST">

      <label for="name">Name:</label>
      <input type="text" name="name" value="<%= instrument.name %>" />
  
      <label for="readyToplay">Ready to Play?</label>

      <input type="checkbox" name="readyToplay" <% if (instrument.readyToplay) { %>checked<% } %> >
    <!-- update the button text -->
      <button type="submit">Update Instrument</button>
    </form>
      <a href="/instruments">Back to Instruments</a>
</body>