<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instruments Index</title>
  </head>
  <body>
    <h1>All Instruments</h1>
    <ul>
        <% instruments.forEach(instrument => { %>
          <li><a href="/instruments/<%= instrument._id %>"> <%= instrument.name %> </a></li>
        <% }); %>
      </ul>
  </body>
  <a href="/instruments/new">Add New Instrusment</a>
</html>